html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    margin: 0;
}

#createGlobal {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#panelGauche, #panelDroite {
    background-color: rgb(60, 60, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 250px;
    height: 100%;
}

#panelGauche {
    position: fixed;
    top: 0;
    left: 0;

    .setter {
        border: 2px solid;
        background-color: inherit;
        font-size: 18px;
        font-weight: bold;
    }

    span {
        font-size: large;
        font-weight: bold;
        display: inline-block;
        width: 50px;
    }

    button:not(.setter) {
        margin: 0;
        padding: 0;
        width: 240px;
        height: 40px;
        font-size: large;
    }

    #importExport {
        position: fixed;
        bottom: 5px;
        left: 5px;
    }

    #swap {
        font-size: medium;
        font-weight: normal;
        margin: 0;
        width: 100%;
    }

    select {
        margin-left: 5px;
        margin-right: 5px;
        width: 50px;
    }
}

#panelGrid {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    table {
        border-collapse: collapse;

        td {
            border: 1px solid;
            font-size: 13px;
        }

        th {
            font-size: larger;
            font-weight: bold;
        }
    }

    th, td {
        width: 60px;
        max-width: 60px;
        height: 60px;
    }
}

#panelDroite {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;

    ul {
        list-style: none;

        li {
            display: flex;
            align-items: center;
            position: relative;
            left: -30px;
            gap: 0;
        }
    }

    .catColor, .catDel {
        min-width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        border: none;
        cursor: pointer;
        background-color: inherit;
        box-sizing: border-box;
    }
    
    .catDel {
        font-weight: bold;
        font-size: larger;
        color: red
    }

    .catName {
        height: 30px;
        width: 170px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    #addCategory {
        width: calc(100% - 10px);
        height: 30px;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup {
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
    padding: 5px;

    h1 {
        padding: 25px;
        box-sizing: border-box;
        border-radius: 8px;
        border: 1px solid;
    }

    #cellInfo {
        display: flex;
        flex-direction: column;
        margin: 5px;
        gap: 5px;
        
        #question, #reponse {
            display: flex;
            align-items: center;
            gap: 5px;
            
            .labelQuestionReponse {
                width: 81px;
                font-weight: bold;
                text-align: right;
            }

            .questionReponse {
                flex: 1;
                width: 500px;
                height: 30px;
                font-size: 18px;
            }
        }

        #categoryDifficulty {
            display: flex;
            flex-direction: row;
            gap: 5px;

            #category {
                display: flex;
                align-items: center;
                gap: 5px;

                label {
                    width: 82px;
                    font-weight: bold;
                    align-items: right;
                }

                select {
                    width: 360px;
                    height: 30px;
                    font-size: 18px;
                }
            }

            #difficulty {
                font-size: 18px;
                align-items: center;
                display: flex;
            }
        }
    }

    #popupButtons {
        display: flex;
        flex-direction: column;

        button {
            height: 56px;
            width: 56px;
            margin: 0;
            padding: 0;
        }
    }
}