html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    width: 200px;
}

#hostPanel {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(60, 60, 255);
    display: flex;
    flex-direction: column;
    gap: 5px;

    button:not(.catColor) {
        height: 30px;
    }

    .catColor {
        border: none;
        background-color: inherit;
    }

    ul {
        margin: 0;
        border-collapse: collapse;
        text-align: left;
    }
}

#playerPanel {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(60, 60, 255);

    .catColor {
        border: none;
        background-color: inherit;
    }

    ul {
        margin: 0;
        border-collapse: collapse;
        text-align: left;
    }
}

#gridPanel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    table {
        border-collapse: collapse;

        td {
            border: 1px solid black;
            font-size: 13px;
        }

        th {
            font-size: larger;
            font-weight: bold;
        }
    }

    th, td {
        width: 60px;
        max-width: 60px;
        height: 60px;
    }
}

#playerList {
    background-color: rgb(60, 60, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 250px;
    position: fixed;
    right: 0;
    top: 0;

    .playerCard {
        border: 1px solid;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 5px;
        box-sizing: border-box;

        .playerOrder {
            h1 {
                margin: 0;
            }
        }
    }
}

.questionPanel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background: white;
    border-top: 4px solid #333;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.3);
    animation: slideUp 0.4s ease-out forwards;
    padding: 20px;
    z-index: 1000;
}

@keyframes slideUp {
    from {transform: translateY(100%);}
    to {transform: translateY(0);}
}

#questionHost {
    display: flex;
    flex-direction: row;
    margin: 0;

    #cellInfo {
        h2 {
            margin: 0;
            font-size: 60px;;
        }
    }

    #questionReponse {
        flex: 1;
    }

    #boutonQuestion {
        width: 250px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;

        button {
            border: none;
            flex: 1;
            font-size: 20px;
        }

        #valider {
            background-color: rgb(60, 255, 60);
        }

        #refuser {
            background-color: rgb(255, 60, 60);
        }
    }
}

#questionPlayer {
    display: flex;
    flex-direction: row;
    margin: 0;
        
    #cellInfo {
        h2 {
            margin: 0;
            font-size: 60px;;
        }
    }

    #questionReponse {
        flex: 1;
    }
}